.partners__header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px;
}

.partners__header > h2 {
  font-size: 45px;
}

.partners__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto 88px auto;
  width: 75%;
}

.partners__card {
  display: flex;
  /* flex-flow: row; */
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

/* .partners__item {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 1rem;
  border-radius: 10px;
  margin-bottom: 24px;
} */

.partners__item__details > p {
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.partners__item__details {
  list-style-type: none;
  line-height: 1px;
  justify-content: space-between;
  min-width: 25%;
}

.partner__logo {
  flex: 1;
  object-fit: scale-down;
  height: 90px;
  width: 125px;
  padding: 10px;
  margin: 20px auto 20px auto;
}
